*{
    font-family: 'Itim', cursive;
}

body{
    
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;    
}

.navbar li{
    font-size: 30px;

    width: 50%;
    display: block;
}

form{
    width: 90%;
}


li{
    width: 60%;
    height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    flex-direction: row;
    font-size: 20px;
}
.botoes{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    width: 80px;
}

#mapid{
    height: 280px;
    width: 500px;
}


footer{
    align-items: center;
    text-align:center;
}

